flask==2.2.3
boto3==1.26.115
Pillow==9.5.0
ffmpeg-python==0.2.0
av==10.0.0
google-api-python-client==2.86.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
instagram-private-api==1.6.0.0
numpy==1.24.3
gunicorn==20.1.0
